@theme {
    /* Text Colors */
    --color-text-primary: var(--color-gray-900);
    --color-text-brand: var(--color-blue-600);
    --color-text-secondary: var(--color-gray-600);
    --color-text-tertiary: var(--color-gray-500);
    --color-text-link: var(--color-blue-600);
    --color-text-accent: var(--color-rose-700);
    --color-text-success: var(--color-emerald-600);
    --color-text-danger: var(--color-red-600);
    --color-text-warning: var(--color-amber-600);
    --color-text-info: var(--color-cyan-600);

    /* Filled Text Colors */
    --color-text-filled-primary: var(--color-white);
    --color-text-filled-brand: var(--color-blue-100);
    --color-text-filled-secondary: var(--color-gray-200);
    --color-text-filled-tertiary: var(--color-gray-300);
    --color-text-filled-link: var(--color-blue-100);
    --color-text-filled-accent: var(--color-rose-100);
    --color-text-filled-success: var(--color-emerald-100);
    --color-text-filled-danger: var(--color-red-100);
    --color-text-filled-warning: var(--color-amber-100);
    --color-text-filled-info: var(--color-cyan-100);
    --color-text-filled-transparent: transparent;

    /* UI Background Colors */
    --color-bg-primary: var(--color-white);
    --color-bg-brand: var(--color-blue-50);
    --color-bg-secondary: var(--color-gray-50);
    --color-bg-tertiary: var(--color-gray-100);
    --color-bg-accent: var(--color-rose-50);
    --color-bg-success: var(--color-emerald-50);
    --color-bg-danger: var(--color-red-50);
    --color-bg-warning: var(--color-amber-50);
    --color-bg-info: var(--color-cyan-50);

    /* UI Background Hover Colors */
    --color-bg-hover-primary: var(--color-gray-50);
    --color-bg-hover-brand: var(--color-blue-100);
    --color-bg-hover-secondary: var(--color-gray-100);
    --color-bg-hover-tertiary: var(--color-gray-200);
    --color-bg-hover-accent: var(--color-rose-100);
    --color-bg-hover-success: var(--color-emerald-100);
    --color-bg-hover-danger: var(--color-red-100);
    --color-bg-hover-warning: var(--color-amber-100);
    --color-bg-hover-info: var(--color-cyan-100);

    /* UI Background Active Colors */
    --color-bg-active-primary: var(--color-gray-100);
    --color-bg-active-brand: var(--color-blue-200);
    --color-bg-active-secondary: var(--color-gray-200);
    --color-bg-active-tertiary: var(--color-gray-300);
    --color-bg-active-accent: var(--color-rose-200);
    --color-bg-active-success: var(--color-emerald-200);
    --color-bg-active-danger: var(--color-red-200);
    --color-bg-active-warning: var(--color-amber-200);
    --color-bg-active-info: var(--color-cyan-200);

    /* Filled UI Background Colors */
    --color-bg-filled-primary: var(--color-gray-800);
    --color-bg-filled-brand: var(--color-blue-600);
    --color-bg-filled-secondary: var(--color-gray-600);
    --color-bg-filled-tertiary: var(--color-gray-500);
    --color-bg-filled-accent: var(--color-rose-600);
    --color-bg-filled-success: var(--color-emerald-600);
    --color-bg-filled-danger: var(--color-red-600);
    --color-bg-filled-warning: var(--color-amber-600);
    --color-bg-filled-info: var(--color-cyan-600);

    /* Filled UI Hover Background Colors */
    --color-bg-filled-hover-primary: var(--color-gray-900);
    --color-bg-filled-hover-brand: var(--color-blue-700);
    --color-bg-filled-hover-secondary: var(--color-gray-700);
    --color-bg-filled-hover-tertiary: var(--color-gray-600);
    --color-bg-filled-hover-accent: var(--color-rose-700);
    --color-bg-filled-hover-success: var(--color-emerald-700);
    --color-bg-filled-hover-danger: var(--color-red-700);
    --color-bg-filled-hover-warning: var(--color-amber-700);
    --color-bg-filled-hover-info: var(--color-cyan-700);

    /* Filled UI Active Background Colors */
    --color-bg-filled-active-primary: var(--color-gray-950);
    --color-bg-filled-active-brand: var(--color-blue-800);
    --color-bg-filled-active-secondary: var(--color-gray-800);
    --color-bg-filled-active-tertiary: var(--color-gray-700);
    --color-bg-filled-active-accent: var(--color-rose-800);
    --color-bg-filled-active-success: var(--color-emerald-800);
    --color-bg-filled-active-danger: var(--color-red-800);
    --color-bg-filled-active-warning: var(--color-amber-800);
    --color-bg-filled-active-info: var(--color-cyan-800);

    /* Layout Background Colors */
    --color-bg-layout-primary: var(--color-white);
    --color-bg-layout-brand: var(--color-blue-50);
    --color-bg-layout-secondary: var(--color-gray-50);
    --color-bg-layout-tertiary: var(--color-gray-100);
    --color-bg-layout-accent: var(--color-indigo-50);
    --color-bg-layout-success: var(--color-green-50);
    --color-bg-layout-danger: var(--color-red-50);
    --color-bg-layout-warning: var(--color-yellow-50);
    --color-bg-layout-info: var(--color-blue-50);
    --color-bg-layout-transparent: transparent;

    /* Layout Filled Background Colors */
    --color-bg-filled-layout-primary: var(--color-gray-700);
    --color-bg-filled-layout-brand: var(--color-blue-800);
    --color-bg-filled-layout-secondary: var(--color-gray-800);
    --color-bg-filled-layout-tertiary: var(--color-gray-900);
    --color-bg-filled-layout-accent: var(--color-indigo-700);
    --color-bg-filled-layout-success: var(--color-green-700);
    --color-bg-filled-layout-danger: var(--color-red-700);
    --color-bg-filled-layout-warning: var(--color-yellow-800);
    --color-bg-filled-layout-info: var(--color-blue-700);
    --color-bg-filled-layout-transparent: transparent;

    /* Border Colors */
    --color-border-primary: var(--color-gray-200);
    --color-border-brand: var(--color-blue-300);
    --color-border-secondary: var(--color-gray-200);
    --color-border-tertiary: var(--color-gray-200);
    --color-border-accent: var(--color-rose-300);
    --color-border-success: var(--color-emerald-300);
    --color-border-danger: var(--color-red-300);
    --color-border-warning: var(--color-amber-300);
    --color-border-info: var(--color-cyan-300);

    /* Filled Button Border Colors */
    --color-border-filled-primary: var(--color-gray-600);
    --color-border-filled-brand: var(--color-blue-600);
    --color-border-filled-secondary: var(--color-gray-700);
    --color-border-filled-tertiary: var(--color-gray-600);
    --color-border-filled-accent: var(--color-rose-600);
    --color-border-filled-success: var(--color-emerald-600);
    --color-border-filled-danger: var(--color-red-600);
    --color-border-filled-warning: var(--color-amber-600);
    --color-border-filled-info: var(--color-cyan-600);

    --br-base: var(--spacing);
    --fs-base: calc(var(--spacing) * 0.5);

    --breakpoint-mobile: 40rem;
    --breakpoint-tablet: 48rem;
    --breakpoint-laptop: 64rem;
    --breakpoint-desktop: 80rem;

    --lh: 1;
    --fs-unit: 8; /* Default to text-base (1rem = 8 * 0.125rem) */
    --gap-unit: 1;
    --aspect-ratio: 1;
    --py-unit: 1;
    --br-unit: 1;
    --size-unit: 1;
    --bw: 1px; /* Border width */
    --rw: 1px; /* Ring width */
}

@layer base {
    :where(*) {
        --gap: calc(var(--gap-unit) * var(--spacing));
        --px: calc(var(--aspect-ratio) * var(--py-unit) * var(--spacing));
        --py: calc(var(--py-unit) * var(--spacing));
        --size: calc(var(--size-unit) * var(--spacing));
        --br: calc(var(--br-unit) * var(--br-base));
        --fs: calc(var(--fs-unit) * var(--fs-base));
        --pl: calc(var(--py-unit) * var(--spacing));
    }
}

@layer components {
    /* NON-RESPONSIVE COMPONENTS */

    /* Button */
    .vane-button { --lh: 1.3; --br-unit: 2; --py-unit: 2; --aspect-ratio: 2; --gap-unit: 2; }
    .vane-button[data-size="xs"] { --fs-unit: 6; --py-unit: 1; --br-unit: 1; --gap-unit: 1; }
    .vane-button[data-size="sm"] { --fs-unit: 7; --py-unit: 1.5; --br-unit: 1.5; --gap-unit: 1.5; }
    .vane-button[data-size="md"] { --fs-unit: 8; --py-unit: 2; --br-unit: 2; --gap-unit: 2; }
    .vane-button[data-size="lg"] { --fs-unit: 9; --py-unit: 2.5; --br-unit: 2.5; --gap-unit: 2.5; }
    .vane-button[data-size="xl"] { --fs-unit: 10; --py-unit: 3; --br-unit: 3; --gap-unit: 3; }

    /* Badge */
    .vane-badge { --lh: 1.6; --br-unit: 2; --py-unit: 2; --aspect-ratio: 2; --gap-unit: 2; }
    .vane-badge[data-size="xs"] { --fs-unit: 6; --py-unit: 1; --br-unit: 1; --gap-unit: 1; }
    .vane-badge[data-size="sm"] { --fs-unit: 7; --py-unit: 1.5; --br-unit: 1.5; --gap-unit: 1.5; }
    .vane-badge[data-size="md"] { --fs-unit: 8; --py-unit: 2; --br-unit: 2; --gap-unit: 2; }
    .vane-badge[data-size="lg"] { --fs-unit: 9; --py-unit: 2.5; --br-unit: 2.5; --gap-unit: 2.5; }
    .vane-badge[data-size="xl"] { --fs-unit: 10; --py-unit: 3; --br-unit: 3; --gap-unit: 3; }

    /* Chip */
    .vane-chip { --lh: 1.2; --br-unit: 2; --py-unit: 1.5; --aspect-ratio: 2; --gap-unit: 2; }
    .vane-chip[data-size="xs"] { --fs-unit: 6; --py-unit: 0.5; --br-unit: 1; --gap-unit: 1; }
    .vane-chip[data-size="sm"] { --fs-unit: 7; --py-unit: 1; --br-unit: 1.5; --gap-unit: 1.5; }
    .vane-chip[data-size="md"] { --fs-unit: 8; --py-unit: 1.5; --br-unit: 2; --gap-unit: 2; }
    .vane-chip[data-size="lg"] { --fs-unit: 9; --py-unit: 2; --br-unit: 2.5; --gap-unit: 2.5; }
    .vane-chip[data-size="xl"] { --fs-unit: 10; --py-unit: 2.5; --br-unit: 3; --gap-unit: 3; }

    /* Code */
    .vane-code { --lh: 1; --br-unit: 1.5; --py-unit: 0.8; --aspect-ratio: 1.8; }
    .vane-code[data-size="xs"] { --fs-unit: 5; --py-unit: 0.4; --br-unit: 0.5; }
    .vane-code[data-size="sm"] { --fs-unit: 6; --py-unit: 0.6; --br-unit: 1; }
    .vane-code[data-size="md"] { --fs-unit: 7; --py-unit: 0.8; --br-unit: 1.5; }
    .vane-code[data-size="lg"] { --fs-unit: 8; --py-unit: 1; --br-unit: 2; }
    .vane-code[data-size="xl"] { --fs-unit: 9; --py-unit: 1.2; --br-unit: 2.5; }

    /* Input */
    .vane-input { --lh: 1.6; --br-unit: 2; --py-unit: 2; --aspect-ratio: 2; }
    .vane-input[data-size="xs"] { --fs-unit: 6; --py-unit: 1; --br-unit: 1; }
    .vane-input[data-size="sm"] { --fs-unit: 7; --py-unit: 1.5; --br-unit: 1.5; }
    .vane-input[data-size="md"] { --fs-unit: 8; --py-unit: 2; --br-unit: 2; }
    .vane-input[data-size="lg"] { --fs-unit: 9; --py-unit: 2.5; --br-unit: 2.5; }
    .vane-input[data-size="xl"] { --fs-unit: 10; --py-unit: 3; --br-unit: 3; }

    /* Checkbox */
    .vane-checkbox { --br-unit: 1; }
    .vane-checkbox[data-size="xs"] { --size-unit: 3; --br-unit: 0.5; }
    .vane-checkbox[data-size="sm"] { --size-unit: 3.5; --br-unit: 0.5; }
    .vane-checkbox[data-size="md"] { --size-unit: 4; --br-unit: 1; }
    .vane-checkbox[data-size="lg"] { --size-unit: 4.5; --br-unit: 1; }
    .vane-checkbox[data-size="xl"] { --size-unit: 5; --br-unit: 1.5; }

    /* Label */
    .vane-label { --lh: 1.6; }
    .vane-label[data-size="xs"] { --fs-unit: 6; }
    .vane-label[data-size="sm"] { --fs-unit: 7; }
    .vane-label[data-size="md"] { --fs-unit: 8; }
    .vane-label[data-size="lg"] { --fs-unit: 9; }
    .vane-label[data-size="xl"] { --fs-unit: 10; }

    /* Card */
    .vane-card { --br-unit: 5; --py-unit: 6; --aspect-ratio: 1; --gap-unit: 4; }
    .vane-card[data-size="xs"] { --py-unit: 2; --gap-unit: 2; --br-unit: 3; }
    .vane-card[data-size="sm"] { --py-unit: 4; --gap-unit: 3; --br-unit: 4; }
    .vane-card[data-size="md"] { --py-unit: 6; --gap-unit: 4; --br-unit: 5; }
    .vane-card[data-size="lg"] { --py-unit: 8; --gap-unit: 5; --br-unit: 6; }
    .vane-card[data-size="xl"] { --py-unit: 10; --gap-unit: 6; --br-unit: 7; }

    /* Stack */
    .vane-stack { --gap-unit: 4; --py-unit: 4; --aspect-ratio: 1; }
    .vane-stack[data-size="xs"] { --gap-unit: 2; --py-unit: 2; }
    .vane-stack[data-size="sm"] { --gap-unit: 3; --py-unit: 3; }
    .vane-stack[data-size="md"] { --gap-unit: 4; --py-unit: 4; }
    .vane-stack[data-size="lg"] { --gap-unit: 5; --py-unit: 5; }
    .vane-stack[data-size="xl"] { --gap-unit: 6; --py-unit: 6; }

    /* Row */
    .vane-row { --gap-unit: 4; }
    .vane-row[data-size="xs"] { --gap-unit: 2; }
    .vane-row[data-size="sm"] { --gap-unit: 3; }
    .vane-row[data-size="md"] { --gap-unit: 4; }
    .vane-row[data-size="lg"] { --gap-unit: 5; }
    .vane-row[data-size="xl"] { --gap-unit: 6; }

    /* Col */
    .vane-col { --gap-unit: 4; }
    .vane-col[data-size="xs"] { --gap-unit: 2; }
    .vane-col[data-size="sm"] { --gap-unit: 3; }
    .vane-col[data-size="md"] { --gap-unit: 4; }
    .vane-col[data-size="lg"] { --gap-unit: 5; }
    .vane-col[data-size="xl"] { --gap-unit: 6; }

    /* Container */
    .vane-container { --py-unit: 8; --aspect-ratio: 2; }
    .vane-container[data-size="xs"] { --py-unit: 4; }
    .vane-container[data-size="sm"] { --py-unit: 6; }
    .vane-container[data-size="md"] { --py-unit: 8; }
    .vane-container[data-size="lg"] { --py-unit: 10; }
    .vane-container[data-size="xl"] { --py-unit: 12; }

    /* Grid */
    .vane-grid { --gap-unit: 4; }
    .vane-grid[data-size="xs"] { --gap-unit: 2; }
    .vane-grid[data-size="sm"] { --gap-unit: 3; }
    .vane-grid[data-size="md"] { --gap-unit: 4; }
    .vane-grid[data-size="lg"] { --gap-unit: 5; }
    .vane-grid[data-size="xl"] { --gap-unit: 6; }

    /* Divider */
    .vane-divider { --py-unit: 4; }
    .vane-divider[data-size="xs"] { --py-unit: 2; }
    .vane-divider[data-size="sm"] { --py-unit: 3; }
    .vane-divider[data-size="md"] { --py-unit: 4; }
    .vane-divider[data-size="lg"] { --py-unit: 5; }
    .vane-divider[data-size="xl"] { --py-unit: 6; }

    /* Img */
    .vane-img { --br-unit: 5; }
    .vane-img[data-size="xs"] { --br-unit: 3; }
    .vane-img[data-size="sm"] { --br-unit: 4; }
    .vane-img[data-size="md"] { --br-unit: 5; }
    .vane-img[data-size="lg"] { --br-unit: 6; }
    .vane-img[data-size="xl"] { --br-unit: 7; }

    /* List */
    .vane-list { --lh: 1.6; --py-unit: 3; }
    .vane-list[data-size="xs"] { --fs-unit: 6; --py-unit: 1; }
    .vane-list[data-size="sm"] { --fs-unit: 7; --py-unit: 2; }
    .vane-list[data-size="md"] { --fs-unit: 8; --py-unit: 3; }
    .vane-list[data-size="lg"] { --fs-unit: 9; --py-unit: 4; }
    .vane-list[data-size="xl"] { --fs-unit: 10; --py-unit: 5; }

    /* Text */
    .vane-text { --lh: 1.6; }
    .vane-text[data-size="xs"] { --fs-unit: 6; }
    .vane-text[data-size="sm"] { --fs-unit: 7; }
    .vane-text[data-size="md"] { --fs-unit: 8; }
    .vane-text[data-size="lg"] { --fs-unit: 9; }
    .vane-text[data-size="xl"] { --fs-unit: 10; }

    /* RESPONSIVE COMPONENTS */

    /* Section */
    .vane-section {
        --lh: 1.6;
        --py-unit-desktop: 8;
        --py-unit-laptop: 6;
        --py-unit-tablet: 4;
        --gap-unit-desktop: 8;
        --gap-unit-laptop: 6;
        --gap-unit-tablet: 4;
    }
    .vane-section[data-size="xs"] {
        --py-unit-desktop: 4; --py-unit-laptop: 3; --py-unit-tablet: 2;
        --gap-unit-desktop: 4; --gap-unit-laptop: 3; --gap-unit-tablet: 2;
    }
    .vane-section[data-size="sm"] {
        --py-unit-desktop: 8; --py-unit-laptop: 4; --py-unit-tablet: 2;
        --gap-unit-desktop: 6; --gap-unit-laptop: 5; --gap-unit-tablet: 4;
    }
    .vane-section[data-size="md"] {
        --py-unit-desktop: 12; --py-unit-laptop: 6; --py-unit-tablet: 2;
        --gap-unit-desktop: 8; --gap-unit-laptop: 6; --gap-unit-tablet: 4;
    }
    .vane-section[data-size="lg"] {
        --py-unit-desktop: 16; --py-unit-laptop: 8; --py-unit-tablet: 2;
        --gap-unit-desktop: 10; --gap-unit-laptop: 8; --gap-unit-tablet: 6;
    }
    .vane-section[data-size="xl"] {
        --py-unit-desktop: 20; --py-unit-laptop: 10; --py-unit-tablet: 4;
        --gap-unit-desktop: 12; --gap-unit-laptop: 10; --gap-unit-tablet: 8;
    }

    /* Title */
    .vane-title {
        --lh: 1.3;
        --fs-unit-desktop: 12; --fs-unit-laptop: 11; --fs-unit-tablet: 10;
    }
    .vane-title[data-size="xs"] { --fs-unit-desktop: 9; --fs-unit-laptop: 8; --fs-unit-tablet: 7; --lh: 1.556; }
    .vane-title[data-size="sm"] { --fs-unit-desktop: 10; --fs-unit-laptop: 9; --fs-unit-tablet: 8; --lh: 1.4; }
    .vane-title[data-size="md"] { --fs-unit-desktop: 12; --fs-unit-laptop: 11; --fs-unit-tablet: 10; --lh: 1.333; }
    .vane-title[data-size="lg"] { --fs-unit-desktop: 15; --fs-unit-laptop: 14; --fs-unit-tablet: 13; --lh: 1.2; }
    .vane-title[data-size="xl"] { --fs-unit-desktop: 18; --fs-unit-laptop: 17; --fs-unit-tablet: 16; --lh: 1.111; }

    /* SectionTitle */
    .vane-section-title {
        --lh: 1.2;
        --fs-unit-desktop: 18; --fs-unit-laptop: 16; --fs-unit-tablet: 14;
    }
    .vane-section-title[data-size="xs"] { --fs-unit-desktop: 12; --fs-unit-laptop: 10; --fs-unit-tablet: 8; --lh: 1.333; }
    .vane-section-title[data-size="sm"] { --fs-unit-desktop: 15; --fs-unit-laptop: 13; --fs-unit-tablet: 11; --lh: 1.2; }
    .vane-section-title[data-size="md"] { --fs-unit-desktop: 18; --fs-unit-laptop: 16; --fs-unit-tablet: 14; --lh: 1.111; }
    .vane-section-title[data-size="lg"] { --fs-unit-desktop: 24; --fs-unit-laptop: 22; --fs-unit-tablet: 20; --lh: 1; }
    .vane-section-title[data-size="xl"] { --fs-unit-desktop: 30; --fs-unit-laptop: 28; --fs-unit-tablet: 26; --lh: 1; }

    /* PageTitle */
    .vane-page-title {
        --lh: 1.1;
        --fs-unit-desktop: 24; --fs-unit-laptop: 21; --fs-unit-tablet: 18;
    }
    .vane-page-title[data-size="xs"] { --fs-unit-desktop: 15; --fs-unit-laptop: 12; --fs-unit-tablet: 9; --lh: 1.2; }
    .vane-page-title[data-size="sm"] { --fs-unit-desktop: 18; --fs-unit-laptop: 15; --fs-unit-tablet: 12; --lh: 1.111; }
    .vane-page-title[data-size="md"] { --fs-unit-desktop: 24; --fs-unit-laptop: 21; --fs-unit-tablet: 18; --lh: 1; }
    .vane-page-title[data-size="lg"] { --fs-unit-desktop: 30; --fs-unit-laptop: 27; --fs-unit-tablet: 24; --lh: 1; }
    .vane-page-title[data-size="xl"] { --fs-unit-desktop: 36; --fs-unit-laptop: 33; --fs-unit-tablet: 30; --lh: 1; }
}
